{% extends "base.html" %}



{% block nav %}
<div class="container-fluid yakshnav">
<nav class="navbar fixed-top navbar-expand-lg yakshheading yakshnav">
  <div class="container">
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="color: white"></span>
    </button>
    <a class="navbar-brand" href="{{ URL_ROOT }}/exam/">
    <!--<img src="{{ URL_ROOT }}/static/yaksh/images/yaksh_banner.png" alt="YAKSH" style="margin-top: -3px; margin-left:-15px">
    </img>-->
    </a>    
    
    
  </div>
</nav>
</div>
{% endblock %}

{% block content %}


<div class="container">
    <div class="row yakshlabel text-center">
        
        

        <div class="col-md-5">
            <div class="yakshwell">
                <div class="yakshwell">
                    <a href="{{URL_ROOT}}/exam/register/" class="btn btn-outline-primary col-md-11 " >New User? SIGN UP</a>
                </div>
                <hr>
        <form action="" method="post">
        {% csrf_token %}
          
        <center><table class="table table-borderless yakshheading yakshgreen table-responsive-sm">
        {{ form.as_table }}
        </table></center>
        <div class="row justify-content-center">
        <button class="col-4 btn btn-success" type="submit">Login</button><span class="col-1"></span>
        <a class="btn btn-primary col-4" href="{{URL_ROOT}}/exam/reset/forgotpassword/">Forgot Password?</a>
        </div>
        <hr>
         Login with 
        <a class="btn btn-social-icon btn-google" href="{% url 'social:begin' 'google-oauth2' %}">
            <span class="fa fa-google" style="font-size:32px;color:red" ></span>
        </a>
        <a class="btn btn-social-icon btn-facebook"  href="{% url 'social:begin' 'facebook' %}">
            <span class="fa fa-facebook-square" style="font-size:32px"></span>
        </a>
        </form>
        </div>
        </br>
        
        </div>
        
    </div>

    

</div>     
{% endblock content %}


